<div class="header">
    <div class="eliareg">
        <h1><a href="{{ url_for('home') }}">Eliareg</a></h1>
    </div>

    <div class="nav">
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('categories') }}">Catégories</a></li>
                <li><a href="{{ url_for('newBox') }}">Créer une boxe</a></li>
            </ul>
        </nav>
    </div>

    <div class="cart-login">
        <div class="cart">
            <img src="{{ base_path() }}/img/icons/caddy.svg">
        </div>
        <div class="login">
            Se connecter
        </div>
    </div>
</div>