<div class="header">
    <div class="eliareg">
        <h1><a href="{{ url_for('home') }}">Eliareg</a></h1>
    </div>

    <div class="nav">
        <nav>
            <ul>
                <li><a href="{{ url_for('boxCreated') }}">Ma boxe</a></li>
                <li><a href="{{ url_for('categories') }}">Catégories</a></li>
                <li><a href="{{ url_for('newBox') }}">Créer un coffret</a></li>
                <li><a href="{{ url_for('boxes') }}">Nos boxes</a></li>
            </ul>
        </nav>
    </div>

    <div class="cart-login">
        <div class="cart">
            <img src="{{ base_path() }}/img/icons/caddy.svg">
        </div>
        <div class="login">
            {% if session.user is defined %}
                <a href="{{ url_for('profil') }}">
                    <img src="{{ base_path() }}/img/icons/utilisateur.png">
                </a>
            {% else %}
                <a href="{{ url_for('connexion') }}">Se connecter</a>
            {% endif %}
        </div>
    </div>
</div>