<html>
<head>
    <meta charset="UTF-8">
    <title>Catégorie {{ categorie.id }}</title>
</head>
<body>
<h1>Catégorie : {{ categorie.libelle }}</h1>
<h3>Description de la catégorie</h3>
<p>{{ categorie.description }}</p>

<a href="{{ basepath }}categories">Retour à la liste des catégories</a>


<select name="prestation" id="prestation">
    {% for prestation in prestations %}
    <option value="{{ prestation.id }}">{{ prestation.libelle }}</option>
    {% endfor %}
</select>