{% extends "_layout/main.twig" %}


{% block content %}

    <div class="categorie-page">
        <h1>Vous voilà sur la catégorie : {{ categorie.libelle }}</h1>

        <p> Ici vous pourrez retrouver : {{ categorie.description }}</p>

        <a href="{{ url_for('categories') }}" class="btn-primary">Retour à la liste des catégories</a>

        <a href="{{ url_for('prestationsFromCategorie', {'categ_id' : categorie.id}) }}">Voir les prestations liées à la
            catégorie</a>

        {# <a href="{{ url_for('deleteCategorie', {'categ_id' : categorie.id}) }}">Supprimer la catégorie</a> #}
    </div>

{% endblock %}