{% extends "_layout/main.twig" %}

{% block content %}

    <div class="boxe">
        <h2>Ajoutez des préstations<br> à la box courante</h2>


        <div class="cards">
            {% for prestation in prestations %}
                <div class="card">

                    <a href="{{ url_for('prestation', {}, {'id': prestation.id}) }}">
                        <div class="content-card">
                            <img src="/img/{{ prestation.img }}" alt="">
                            <p> {{ prestation.libelle }}</p>
                            <p> {{ prestation.tarif }} €</p>
                        </div>
                    </a>

                    <div class="add-cart">
                        <form action="{{ url_for('addPrestationToBox', {}, { 'presta_id': prestation.id}) }}"
                              method="post" class="hidden-form">
                            <button class="btn-secondary" type="submit">add</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>



{% endblock %}