{% extends "_layout/main.twig" %}

{% block content %}

    <h1>Prestation : {{ prestation.libelle }} </h1>
    <ul>
        <li>ID : {{ prestation.id }}</li>
        <li>Libellé : {{ prestation.libelle }}</li>
        <li>Description : {{ prestation.description }}</li>
        <li>Contenu : {{ prestation.unite }}</li>
        <li>Tarif : {{ prestation.tarif }}</li>
    </ul>


{% endblock %}