{% extends "_layout/main.twig" %}

{% block content %}

    <div class="card">
        <div class="content-card">
            <img src="/img/{{ prestation.img }}" alt="">
            <p> {{ prestation.libelle }}</p>
            <p>Description : {{ prestation.description }}</p>
            <p>Contenu : {{ prestation.unite }}</p>
            <p>Tarif : {{ prestation.tarif }} €</p>
        </div>
    </div>
        


{% endblock %}